<div style="width: 300px; float: left;">
Listeners:<br />

@@listener@@
</div>
<div style="width: 300px; float: left;">
Protocols:<br />

@@protocol@@
</div>

%%SUBTEMPLATE(listener)%%
{name} - {ip}:{port}<br />
@@client@@

%%SUBTEMPLATE(client)%%
{name} - {ip}:{port}<br />
%%ENDSUBTEMPLATE%%

%%ENDSUBTEMPLATE%%

<script>


</script>
